$color-green-100: #C8E6C9;
$color-green-200: #A5D6A7;
$color-green-300: #81C784;
$color-green-400: #66BB6A;
$color-green-500: #4CAF50;
$color-green-600: #43A047;
$color-green-700: #388E3C;
$color-green-800: #2E7D32;
$color-green-900: #1B5E20;

$color-brown-100: #D7CCC8;
$color-brown-200: #BCAAA4;
$color-brown-300: #A1887F;
$color-brown-400: #8D6E63;
$color-brown-500: #795548;
$color-brown-600: #6D4C41;
$color-brown-700: #5D4037;
$color-brown-800: #4E342E;
$color-brown-900: #3E2723;

$color-gray-100: #F5F5F5;
$color-gray-200: #EEEEEE;
$color-gray-300: #E0E0E0;
$color-gray-400: #BDBDBD;
$color-gray-500: #9E9E9E;
$color-gray-600: #757575;
$color-gray-700: #616161;
$color-gray-800: #424242;
$color-gray-900: #212121;

$text-dark-normal: rgba(0, 0, 0, 0.87);
$text-dark-medium: rgba(0, 0, 0, 0.60);
$text-dark-disabled: rgba(0, 0, 0, 0.38);

$text-bright-normal: rgba(255, 255, 255, 0.87);
$text-bright-medium: rgba(255, 255, 255, 0.60);
$text-bright-disabled: rgba(255, 255, 255, 0.38);

$color-primary: $color-green-500;
$color-secondary-dark: $color-brown-700;

$color-site-background: #FAFAFA;
