.content-control-room {
  .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .control-panel {
      flex: 0 0 325px;
      height: 130px;
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }
  .computer-panel {
    display: flex;
    align-items: center;
  }
  .computer-buttons {
    display: flex;
    justify-content: space-evenly;
    button {
      line-height: 1.25em;
      width: 100px;
      height: 50px;
    }
  }
}
